@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Inter+Tight:wght@200;300&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  background: black;
  background-size: cover;
}
.center {
  text-align: center;
  color: azure;
}
.button {
  width: 55px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(175, 77, 162);
}
.container {
  display:inline-block;
  margin: auto;
  align-items: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.row {
  margin: 6px 0;
}
input {
  background: rgb(184, 181, 181);
}
.row input {
  font-size: 20px;
  margin: 0;
  padding: 12px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.row .button.red {
  background-color: rgb(240, 87, 32);
}
.row .button.gre {
  background: rgb(21, 205, 211);
}